<style type="text/css">.error {color: red;}</style>

<h1>New Contact</h1>
<form action="/send" method="POST" novalidate>
  <div>
    <p><label>Your email:</label></p>
    <p><input type="email" name="email" value=""></p>
  </div>
  <div>
    <p><label>Your message:</label></p>
    <p><textarea name="content"></textarea></p>
  </div>
  <div>
    <input type="submit" value="Send message">
  </div>
</form>

<table>
{{range .}}
  <tr>
    <td>{{.Email}}</td>
  </tr>
{{end}}
</table>

<p><a href="/">Index</a></p>